 

:root {
   --basic-red: #EE3643;;
   --basic-green:#63A63E;
   --basic-grey: #3D546F;
   --basic-greylight:#C5C5C5;
   --basic-background: #F1F5F7;
   --white:#ffffff;
   --special-yellow:#FFBF47;
   --special-blue:#3BBCE3;
   --special-lilac:#DC91D8;
   --special-greenlight:#8ED78F;
   --special-yellowwlight:#FFD180;
   --success:#5FBB2D;
   --warning:#FFBF47;
   --error:#BA2732;
   --light-grey:#EAEAEA;
}

body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

a {
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    color: var(--white);
}

.header-logo:hover {
    background-color: #EE3643;
}

.button-login:hover {
    color: var(--basic-red);
}

.button-login:active {
    color: var(--basic-greylight);
}

.button-login:hover svg #icon-login,
.button-login:hover svg #icon-login2 {
    fill: var(--basic-grey);
}

.button-login:active svg #icon-login,
.button-login:active svg #icon-login2 {
    fill: #C5C5C5;
}

.site-nav a:hover {
    background-color: #293449;
}

.site-nav a:active {
    color: rgba(255, 255, 255, .5)
}

.offers-button:hover {
    background-color:rgba(197, 197, 197, .3);
}

.offers-button:active {
    background-color: rgba(169, 169, 169, .3);
}

.button:hover {
    background: #BA2732;
}

.button:active {
    background-color: var(--error);
}

.main-services-menu a:hover {
    background: #293449;
}

.popular-manufactures-item a:hover,
.popular-goods-item:hover {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-manufactures-item a:active {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.footer-assortment a:hover,
.footer-nav a:hover,
.footer-mail a:hover,
.footer-developed a:hover {
    text-decoration-line: underline;
}

.footer-assortment a:active,
.footer-nav a:active {
    color: #F1F5F7;
    opacity: 0.5;
    text-decoration-line: none;
}

.footer-mail a:active,
.footer-developed a:active {
    color: var(--basic-red);
    text-decoration-line: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    color: var(--white);
}


.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    margin-bottom: 60px;
    height: 320px;
    background-color: var(--basic-background);
}

.catalog-main-header {
    margin-bottom: 21px;
    height: 320px;
    background-color: var(--basic-background);
}

.header-menu {
    margin-bottom:46px;
    min-height: 42px;
}

.header-menu-bar {
    background-color: var(--basic-grey);
}

.header-nav-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    width: 940px;
    margin: 0 auto;
    padding: 0 ;
    margin-bottom: 42px;
}


.header-logo {  
   position: absolute;
   display: block;
   text-align: center;
   padding-top: 11px;
   background: url(../img/header-logo.png) no-repeat center;
   color: var(--white);
   font-size: 24px;
   text-transform: uppercase;
   width: 220px;
   height: 47px;
   box-sizing: border-box;
}

.header-logo:hover {
    background: url(../img/header-logo-active.png) no-repeat center;
}

.header-menu-nav {
    margin: 0px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
    box-sizing: border-box;
}

.header-menu-nav a {
    position: relative;
    display: block;
    padding-bottom: 9px;
    padding-top: 10px;
    box-sizing: border-box;
}

.header-menu-search {   
    width: 270px;
    padding-left: 42px;
}

.header-menu-search::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 18px;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-menu-bookmark {
    width: 164px;
    padding-left: 43px;
}

.header-menu-bookmark::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 20px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-menu-cart {
    width: 136px;
    padding-left: 35px;
}

.catalog-header-menu-cart {
    background-color: var(--basic-red);
}

.header-menu-cart::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-menu-search:hover::before,
.header-menu-bookmark:hover::before,
.header-menu-cart:hover::before {
    opacity: 1;
}

.header-menu-search:active::before,
.header-menu-bookmark:active::before,
.header-menu-cart:active:before {
    opacity: 0.3;
}

.header-menu-nav a:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-menu-bookmark:active,
.header-menu-cart:active {
    background-color: #161D29;
}

.header-checkout {
    width: 150px;
    display: block;
    text-align: center;
    padding-left: 19px;
    padding-right: 16px;
    padding-top: 9px;
    font-size: 18px;
    background-color: var(--basic-green);
    box-sizing: border-box;
}

.header-checkout:hover {
    background-color: var(--success);
}

.header-checkout:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-info {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 940px;
    height: 75px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 36px;
    padding-left: 30px;
}

.catalog-header-info {
    margin-bottom: 40px;
}

.header-info p {
    margin: 0;
    padding:0;
    margin-top: -5px;
    padding-left: 20px;
}

.header-info-item {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header-adress {
    font-size: 14px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    margin-left: 23px;
}

.header-adress p {
    padding: 0;
    margin: 0;
}

.header-adress-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    margin: 0;
    padding: 0;
}

.adress-info-street {
    display: inline-block;
    margin-left: 13px;
    margin-top: 3px;
}

.header-adress-info img {
    margin-right: 16px;
}

.header-login {
    display: flex;
    
}

.button-login {
    display: flex;
    align-items: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: black;
    border:none;
    background-color: var(--white);
    margin-right: 10px;
    padding-right: 24px;
    padding-left: 24px;
    height: 45px;
}

.button-login span {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: -2px;
}

.button-login svg {
    margin-left: -5px;
}

.main-nav {
    background-color: var(--basic-grey);
    display: grid;
    width: 940px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0;
    box-shadow: inset 0px -5px 0px #293449;
}

.site-nav {
    font-size:18px;
    min-height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: -3px;
}

.site-nav a {
    display: block;
    padding-left: 27px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.special-offers-menu {
    display: flex;
    width: 940px;
    height: 409px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 59px;
}

.special-offers-menu-left {
    display: flex;
    flex-wrap: wrap;
}

.special-offers-menu-right .offer-menu-item {
    margin-right: 0;
}

.special-offers-menu h3 {
    font-size: 24px;
    font-weight:bold;
    line-height: 30px;
    color: var(--white);
}

.offers-button {
    font-family: 'Cuprum', sans-serif;
    font-size:14px;
    line-height:18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: rgba(255, 255, 255, .3);
    border: none;
    width: 135px;
    height: 38px;
    cursor: pointer;
}

.offer-menu-item {
    display: flex;
    width: 300px;
    height: 123px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 23px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.offer-menu-item h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.offer-materials {
    position: relative;
    background-color: var(--special-yellow);
}

.offer-materials::after {
    position: absolute;
    left: 213px;
    top: 31px;
    content: "";
    width: 44px;
    height: 65px;
    background-color: transparent;
    background-image: url(../img/materials_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-tool {
    position: relative;
    background-color: var(--special-blue);
}

.offer-tool::after {
    content: "";
    position: absolute;
    left: 194px;
    top: 34px;
    content: "";
    width: 75px;
    height: 61px;
    background-color: transparent;
    background-image: url(../img/tool_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-technics {
    position: relative;
    background-color: var(--special-lilac);
}

.offer-technics::after {
    content: "";
    position: absolute;
    left: 191px;
    top: 31px;
    width: 78px;
    height: 62px;
    background-color: transparent;
    background-image: url(../img/technics_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-discounts {
    position: relative;
    background-color: var(--special-greenlight);
}

.offer-discounts::after {
    content: "";
    position: absolute;
    left: 196px;
    top: 26px;
    width: 59px;
    height: 72px;
    background-color: transparent;
    background-image: url(../img/discounts_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offer-delivery {
    position: relative;
    background-color: var(--special-yellowwlight);
}

.offer-delivery::after {
    content: "";
    position: absolute;
    left: 191px;
    top: 32px;
    width: 78px;
    height: 63px;
    background-color: transparent;
    background-image: url(../img/delivery_logo.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider {
    position: relative;
}

.slider-list {
    padding: 0;
    margin:0;
    list-style: none;
}

.slider-control-left {
    position: absolute;
    left: 25px;
    top: 123px;
    display: block;
    width: 22px;
    height: 40px;
}

.slider-control-right {
    position: absolute;
    right: 21px;
    top: 123px;
    display: block;
    width: 22px;
    height: 40px;
}

.slide-button {
    position: absolute;
    left: 24px;
    bottom: 27px;
}

.slider-controls-circle {
    position: absolute;
    left: 295px;
    top: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30px;
    min-height: 10px;
}

.slider-controls-circle button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

.slider-controls-circle .current {
    background-color: #EE3643;
}

.slide-perforators,
.slide-drill {
    display: none;
}

.slide-current {
    display: block;
  }

.slide-perforators {
    background: 
    url(../img/slider-background-grey.png) no-repeat,
    url(../img/perforators.jpg) no-repeat center;
    width: 620px;
    height: 266px;
}

.slide-drill {
    background:
    url(../img/slider-background-grey.png) no-repeat,
    url(../img/drill.jpg) no-repeat center;
    width: 620px;
    height: 266px;
}

.slider-list h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: var(--white);
    text-transform: uppercase;
    padding-top: 23px;
    padding-left: 24px;
    margin: 0;
    margin-bottom: 5px;
}

.slider-list p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: var(--white);
    padding-left: 24px;
}

.popular-goods-menu {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 70px;
    list-style: none;
}

.popular-goods-header {
    width: 940px;
    height: 89px;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    background-color: #F9F5F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.popular-goods-header button {
    margin-right: 2px;
    margin-top: -1px;
}

.popular-goods-header .manufacturers-button {
    margin-right: 6px;
}

.popular-goods-item {
    position: relative;
    width: 220px;
    height: 318px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
}

.popular-goods-item h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    vertical-align: center;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-right: 28px;
    margin-top: -8px;
}

.bfg-9000 img {
    padding-left: 16px;
    padding-top: 6px;
}

.bfg-2000-3000 img {
    margin-left: 38px;
    margin-top: 29px;
    padding-bottom: 30px;
}

.bfg-6000 img {
    margin-left: 31px;
    margin-top: 22px;
    padding-bottom: 20px;
}

.popular-goods-item img {
    order:-1;
    margin-bottom: 14px;
}

.popular-goods-item .goods-item-oldprice {
    margin-left: 75px;
    margin-top: 2px;
}

.good-item-bookmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 59px;
    width: 184px;
    height: 164px;
    order:-1;
}

.goods-item-oldprice {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #a9a9a9;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
}

.prise-button {
    position: absolute;
    left: 44px;
    top: 258px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--white);
    background-image: url(../img/red-price-button.png);
    background-repeat: no-repeat;
    border: none;
    width: 141px;
    height: 38px;
    cursor: pointer;
}

.prise-button span {
    margin-left: -10px;
    margin-top: -10px;
}

.new {
    position: relative;
}

.new::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}


.popular-manufacturers-menu {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    gap: 20px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 55px;
}

.main-services-bar {
    background-color: var(--basic-background);
    width:100%;
    height: 522px;
    margin-bottom: 45px;
}

.main-services {
    width: 940px;
    margin: 0px auto;
    padding: 0 10px;
}

.services-menu-wrapper {
    width: 948px;
    height: 284px;
    display: flex; 
    justify-content: space-between;
}

.services-menu-wrapper h3 {
    padding: 0;
    margin: 0;
}

.main-services-info {
    width: 100%;
    margin-bottom: 70px;
}

.main-services-info h2 {
    padding-top: 64px;
}

.main-services h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-services p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.main-services-menu {
    position: relative;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: space-around;
    margin-right: 80px;
    list-style: none;
}

.main-services-menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: -49px;
    width: 10px;
    height: 279px;
    background-image: url(../img/service-line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-services-menu a {
    width: 240px;
    height: 61px;
    background-color: #32425C;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    padding-bottom: 17.5px;
    padding-top:13.5px;
    padding-right: auto;
    padding-left: 22px;
    display: flex;
    box-sizing: border-box;
}

.main-services-menu a:hover {
    background: #293449;
}

.main-services-menu a:active {
    background-color: var(--white);
    color: #32425C;
}

.main-services-menu .services-menu-current {
    background-color: var(--white);
    color: #32425C;
}


.delivery {
    display: none;
    position: relative;
    width: 619px;
    height: 283px;
}

.delivery::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 235px;
    left: 141px;
    top: 20px;
    background-image: url(../img/delivery_car.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.guarantee {
    display: none;
    position: relative;
    width: 628px;
    height: 284px;
}

.guarantee::after {
    content: "";
    position: absolute;
    width: 389px;
    height: 283px;
    left: 239px;
    top: 0;
    background-image: url(../img/garant.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.credit {
    display: none;
    position: relative;
    width: 630px;
    height: 285px;
}

.credit-button {
    position: absolute;
    left: 0;
    top: 131px;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: #FF5357;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: 195px;
    height: 38px;
}

.credit::after {
    content: "";
    position: absolute;
    width: 465px;
    height: 285px;
    left: 165px;
    top: 0;
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-item-current {
    display: block;
}

.main-services-item h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
    margin-left: -10px;
    margin-top: -2px;
}

.main-services-item p {
    margin-left: -10px;
    margin-top: 28px;
}

.credit-button:hover {
    background-color: #CA2C37;
}

.credit-button:active {
    background-color: var(--error);
}

.main-info-wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.main-info {
    width: 460px;
}

.main-contacts {
    width: 300px;
}

.main-info h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.main-info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.main-info span {
    display: inline-block;
    margin-top: -1px;
}

.main-info-menu {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 19px;
    list-style: none;
}

.main-info-menu li {
    position: relative;
    padding-left: 37px;
    margin-bottom: 12px;
}

.main-info-menu li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.main-contacts h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.main-contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    margin-bottom: 32px;
}

.main-contacts img {
    margin-bottom: 16px;
}

.footer-nav-wrapper {
    background-color: #32425C;
}

.footer-section-nav {
    font-size: 18px;
    color: var(--white);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 390px 550px;
    grid-template-rows: 61px auto ;
    padding-bottom: 40px;
}

.footer-nav-menu {
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 38px;
    list-style: none;
}

.footer-adress {
    margin-top: 12px;
    margin-left: 3px;
}

.footer-assortment-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 35px;
    padding-left: 25px;
    list-style: none;
}

.footer-section-nav a {
    font-size: 18px;
}

.footer-assortment a {
    color: #FFDA96;
}

.footer-social-wrapper {
    background-color: #293449;
    min-height: 120px;
}

.footer-social {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    width: 940px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: max-content 1fr min-content min-content;
    gap: 50px;
    padding-top: 14px;
    padding-right: 13px;
    box-sizing: border-box;
}

.footer-social-menu {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    justify-self: center;
    list-style: none;
}

.footer-social a {
    font-size: 16px;
    line-height: 18px;
    color:#FFD180;
}

.hidden-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    width: 192px;
    height: 38px;
    border: none;
}

.button-contacts {
    width: 300px;
}

.button-info {
    width: 220px;
}

.button:hover {
    background: #CA2C37;
}

.footer-social-menu a svg:hover #vk,
.footer-social-menu a svg:hover #fb,
.footer-social-menu a svg:hover #insta {
    fill: var(--basic-red);
}

.footer-social-menu a svg:active #vk,
.footer-social-menu a svg:active #fb,
.footer-social-menu a svg:active #insta {
    fill: var(--basic-red);
}
/* Стили для каталога */

.catalog-info-item-wrapper {
    padding-top: 5px;
}

.catalog-header-adress {
    margin-top: 4px;
    margin-left: 40px;
}

.header-login-name:active {
    color: var(--basic-greylight);
    background: rgba(0, 0, 0, 0.0001);
}

.header-login-name:hover svg #icon-login,
.header-login-name:hover svg #icon-login2,
.header-login-name:hover svg #icon-user {
    fill: var(--basic-grey);
}

.header-login-name:active svg #icon-login,
.header-login-name:active svg #icon-login2,
.header-login-name:active svg #icon-user {
    fill: var(--basic-greylight);
}

.header-login-link {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color:#32425C;
}

.header-login-link:hover {
    color: var(--basic-red);
}

.header-login-link:active {
    color: var(--basic-greylight);
    background: rgba(0, 0, 0, 0.0001);
}

.header-catalog-login {
    width: 299px;
    height: 70px;
    margin-right: 10px;
    margin-top: 3px;
}

.header-login-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    width: 299px;
    height: 45px;
    background-color: var(--white);
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    box-sizing: border-box;
}

.catalog-custom-nav {
    width: 210px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-left: 42px;
}


.main-catalog-menu {
    font-family: 'PT Sans', sans-serif;
    font-style: 13px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

.main-catalog-menu a {
    font-family: 'PT Sans', sans-serif;
    font-style: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:#000000;
}

.menu-list-items a {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#000000;
}

.perforators-info-wrapper {
    background-color: var(--basic-background);
}

.catalog-perforators-info {
    width: 940px;
    height: 261px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.catalog-perforators-info h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catalog-perforators-info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.good-item-bookmark {
    margin-left: -20px;
    margin-top: -1px;
    margin-bottom: 20px;
}

.button-buy {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-green);
    border: none;
    width: 135px;
    height: 38px;
    margin-bottom: 10px;
}

.button-buy:hover {
    background: #5FBB2D;
}

.button-buy:active {
    background: #518534;
}

.button-bookmark {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:  #32425C;
    background-color: var(--white);
    border: 3px solid #63A63E;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
}

.button-bookmark:hover {
    border: 3px solid #32425C;
}

.button-bookmark:active {
    color: #32425C;
    border: 3px solid #32425C;
    box-sizing: border-box;
    border-radius: 2px; 
}

/* grid */



.catalog-menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 940px;
    padding: 0;
    margin:0 auto;
    margin-bottom: 20px;
    list-style: none;
}
        
.catalog-menu-items li {
    position: relative;
    padding-right: 41px;
}

.catalog-menu-items li:not(:nth-last-child(1))::after {
    content: "";
    position: absolute;
    right: 17px;
    top: 3px;
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
}

.catalog-menu-list {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 59px ;
}

.menu-list-items {
    display: flex;
    margin:0;
    padding:0;  
    padding-left: 240px;  
    cursor: pointer;
    list-style: none;
}

.menu-list-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    min-width: 38px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
}

.menu-list-items li:nth-last-child(1) {
    padding-left: 31px;
    padding-right: 31px;
}

.menu-list-items li:active {
    border: 1px solid #EE3643;
    box-sizing: border-box;
    border-radius: 2px;
}

.menu-list-items .menu-list-items-checked {
    border: 1px solid #EE3643;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--basic-red);
    color: var(--white);
}
/* Стили для фильтра */

.filter-item-manufacturers {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #D7DCDE;
    width: 220px;
    margin-bottom: 19px;
}

.filter-item-manufacturers ul {
    list-style: none;
}

.filter-item-manufacturers legend {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    vertical-align: center;
    text-transform: uppercase;
}

.filter-item-manufacturers label {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    vertical-align: center;
    text-transform: uppercase;
    margin-left: -6px;
    margin-top: 18px;
}

.filter-item-power {
    margin: 0;
    padding: 0;
    border: none;
    width: 220px;
}

.filter-item-power ul {
    list-style: none;
}

.filter-item-power legend {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    vertical-align: center;
    text-transform: uppercase;
}

.filter-item-power label {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    vertical-align: center;
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: -6px;
}

.filter-checkbox  {
    margin-bottom: 20px;
}

.filter-item-manufacturers .filter-checkbox:nth-last-child(1) {
    margin-bottom: 27px;
}

.filter-radio {
    margin-bottom: 22px;
}

.filter-item-power .filter-radio:nth-last-child(1) {
    margin-bottom: 37px;
}


.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-manufacturers.svg);
    background-color: transparent;
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-manufacturers-on.svg);
    background-color: transparent;
    background-repeat: no-repeat;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 25px;
    height: 26px;
    background-color: transparent;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 25px;
    height: 26px;
    background-color: transparent;
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
}

.filter-button {
    display: block;
    border: none;
    background: url(../img/filter-button.png) no-repeat;
    width: 220px;
    height: 38px;
}

.filter-item-price {
    margin: 0;
    padding: 0;
    border: none;
    padding-bottom: 25px;
    margin-bottom: 13px;
    width: 220px;
    border-bottom: 1px solid #D7DCDE;
}

.range-filter {
    width: 220px;
    margin-top: 11px;
}

.filter-item-price legend {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
    vertical-align: center;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    height: 41px;
    background-color: #f1f1f1;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 9px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}
  
  .range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    width: 220px;
    justify-content: start;
    align-items: center;
}

.price-controls input {
    width: 95px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    vertical-align: center;
    color: #000000;
}

.min-price input {
    padding-left: 5px;
    padding-top: -5px;
}

.max-price input {
    padding-left: 17px;
    padding-top: -12px;
}

.price-controls span {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-style: regular;
    width: 30px;
    height: 18px;
    background-color: var(--white);
}

.catalog-filter-title {
    width: 220px;
    height: 38px;
    background-color: #F7F3EC;
    display: flex;
    justify-content: left;
    align-content: center;
    margin-bottom: 14px;
}

.catalog-filter-title h3 {
    margin-top: 10px;
    margin-left: 18px;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    vertical-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.catalog-sorting h3 {
    margin-top: 10px;
    margin-left: 19px;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.catalog-sorting-menu a {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #EE3643;
}

.catalog-sorting-menu .catalog-sorting-checked  {
    color: #EE3643;
    border: none;
}

.catalog-sorting-menu a:hover {
    color: #000000;
    border-bottom: 1px solid #EE3643;
}

.catalog-sorting-menu a:active {
    color: var(--basic-red);
    border: none;
}

.catalog-sorting-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 354px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 139px;
}

.sorting-controls {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 106px;
    height: 38px;
    padding-left: 46px;
    padding-right: 14px;
    padding-top: 9px;
    box-sizing: border-box;
}

.sorting-controls a svg:hover #sorting-controls-svg {
    fill: #000000;
}

.sorting-controls a svg:active #sorting-controls-svg {
    fill: var(--basic-red);
}

.sorting-controls .sorting-controls-checked {
    fill: var(--basic-red);
}

.catalog-sorting {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 700px;
    height: 38px;
    background-color: #F7F3EC;
    grid-column: 2 / 3;
}

.catalog-filters {
    width: 220px;
    grid-column: 1 / 2;
    grid-row: 1 / -2;
}

.catalog-goods-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 318px 318px 318px;
    column-gap: 20px;
    row-gap: 18px;
    margin-bottom: 49px;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
}

.filters-goods-wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 220px 700px;
    grid-template-rows: 38px 654px auto;
    column-gap: 20px;
    row-gap: 28px;
    margin-bottom: 20px;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 14px;
    width: 21px;
    height: 21px;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon-close.svg);
    cursor: pointer;
}

.modal-login {
    width: 620px;
    height: 430px;
    box-sizing: border-box;
}

.modal-login-inner {
    height: 318px;
    padding-left: 81px;
    padding-top: 39px;
}

.login-button-inner {
    position: relative;
    height: 112px;
    background-color: #F4F4F4;
}

.modal-login-list {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 73px 1fr;
    column-gap: 20px;
    row-gap: 13px;
    justify-content: start;
    border: none;
}

.modal-login-list label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 11px;
}

.modal-login-list input {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    padding-left: 12px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    width: 220px;
    height: 38px;
    box-sizing: border-box;
    border: 2px solid #c5c5c5;
}

.modal-login-list textarea {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color:#A9A9A9;
    padding-left: 12px;
    padding-top: 6px;
    width: 460px;
    height: 114px;
    box-sizing: border-box;
    border: 2px solid #c5c5c5;
    margin-top: 11px;
}

.login-name,
.login-email {
    display: flex;
    flex-direction: column;
}

.login-button {
    position: absolute;
    top: 37px;
    left: 80px;
    width: 460px;
    height: 38px;
    border: none;
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
}

.modal-map {
    display: block;
    width: 943px;
    height: 449px;
}

.modal-map img {
    display: block;
    margin: 0;
    padding: 0;
}

.modal-cart {
    width: 620px;
    height: 282px;
    box-sizing: border-box;
}

.added-cart-inner h3 {
    font-size: 24px;
    line-height: 30px;
}

.added-cart-inner h3::after {
    content: "";
    position: absolute;
    top: 47px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url(../img/icon-mark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.added-cart-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 163px;
    box-sizing: border-box;
}

.buttons-cart-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f1f1f1;
}

.button-cart-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    width: 192px;
    height: 38px;
    background-color: var(--basic-red);
    border: none;
    margin-right: 10px;
}

.button-cart-continue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    width: 192px;
    height: 38px;
    background-color: var(--white);
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--white);
    box-shadow: 0px 4px 20px rgba(0 , 0, 0, 0.15);
    border-top: 7px solid var(--basic-red);
    display: none;
}
