 

:root {
   --basic-red: #EE3643;;
   --basic-green:#63A63E;
   --basic-grey: #3D546F;
   --basic-greylight:#C5C5C5;
   --basic-background: #F1F5F7;
   --white:#ffffff;
   --special-yellow:#FFBF47;
   --special-blue:#3BBCE3;
   --special-lilac:#DC91D8;
   --special-greenlight:#8ED78F;
   --special-yellowwlight:#FFD180;
   --success:#5FBB2D;
   --warning:#FFBF47;
   --error:#BA2732;
   --light-grey:#EAEAEA;
}

body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

a {
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    color: var(--white);
}

.header-logo:hover {
    background-color: #EE3643;
}

.button-login:hover {
    color: var(--basic-red);
}

.button-login:active {
    color: var(--basic-greylight);
}

.button-login:hover svg #icon-login,
.button-login:hover svg #icon-login2 {
    fill: var(--basic-grey);
}

.button-login:active svg #icon-login,
.button-login:active svg #icon-login2 {
    fill: #C5C5C5;
}

.site-nav a:hover {
    background-color: #293449;
}

.site-nav a:active {
    color: rgba(255, 255, 255, .5)
}

.offers-button:hover {
    background-color:rgba(197, 197, 197, .3);
}

.offers-button:active {
    background-color: rgba(169, 169, 169, .3);
}

.button:hover {
    background: #BA2732;
}

.button:active {
    background-color: var(--error);
}

.main-services-menu a:hover {
    background: #293449;
}

.popular-manufactures-item img:hover {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-manufactures-item a:active {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    opacity: 0.5;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.footer-assortment a:hover,
.footer-nav a:hover,
.footer-mail a:hover,
.footer-developed a:hover {
    text-decoration-line: underline;
}

.footer-assortment a:active,
.footer-nav a:active {
    color: #F1F5F7;
    opacity: 0.5;
    text-decoration-line: none;
}

.footer-mail a:active,
.footer-developed a:active {
    color: var(--basic-red);
    text-decoration-line: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

button {
    color: var(--white);
}

.main-header {
     background-color: var(--basic-background);
}

.header-logo {
   background: url(../img/header-logo.png) no-repeat center;
   color: var(--white);
   font-size: 18px;
   text-transform: uppercase;
   width: 220px;
   height: 47px;
   text-align: center;
   vertical-align: center;
}

.header-logo:hover {
    background: url(../img/header-logo-active.png) no-repeat center;
}

.header-menu-nav {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    gap: 45px;
}

.header-menu-nav img {
    opacity: 0.3;
}

.header-menu-nav a:hover img {
    opacity: 1;
}

.header-menu-nav a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #161D29;
}

.header-menu-nav a:active img {
    opacity: 0.3;
}

.header-checkout {
    font-size: 18px;
    background-color: var(--basic-green);
}

.header-checkout:hover {
    background-color: var(--success);
}

.header-checkout:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-info {
    font-size: 21px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


.header-info-item {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header-adress {
    font-size: 14px; 
}

.header-adress-info {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
}

.button-login {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: black;
    border:none;
    background-color: var(--white);
}

.main-nav {
    background-color: var(--basic-grey);
    display: grid;
    width: 940px;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-nav {
    font-size:18px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-around;
}

.special-offers-menu {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    column-gap:20px;
    row-gap: 20px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 59px;
}

.special-offers-menu h3 {
    font-size: 21px;
    font-weight:bold;
    line-height: 30px;
    color: var(--white);
}

.offers-button {
    font-family: 'Cuprum', sans-serif;
    font-size:14px;
    line-height:18px;
    color: var(--white);
    background-color: rgba(255, 255, 255, .3);
    border: none;
    width: 135px;
    height: 38px;
}

.offer-menu-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    height: 123px;
}

.offer-materials {
    background-color: var(--special-yellow);
}

.offer-tool {
    background-color: var(--special-blue);
}

.offer-technics {
    background-color: var(--special-lilac);
}

.offer-discounts {
    background-color: var(--special-greenlight);
    }

.offer-delivery {
    background-color: var(--special-yellowwlight);
}

.slide-perforators {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background: url(../img/perforators.jpg) no-repeat center;
    width: 620px;
    height: 266px;
}

.slide-perforators h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: var(--white);
}

.slide-perforators p {
    font-size: 18px;
    color: var(--white);
}

.popular-goods-menu {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 89px 318px;
    gap:20px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 70px;
}

.popular-goods-header {
    font-size:30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    background-color: var(--basic-background);
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.popular-goods-item {
    width: 220px;
    height: 318px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: grid;
    margin: 0;
    padding: 0;
    text-align: center;
}

.popular-goods-item h3 {
    font-family: 'PT Sans', sans-serif;
    font-size:18px;
    font-weight: 20px;
    order: 1;
    margin: 0px;
    padding: 0px;
}

.popular-goods-item del {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    order: 2;
}

.prise-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-red);
    border: none;
    width: 141px;
    height: 38px;
    order:3;
}

.popular-manufacturers-menu {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 89px 145px 145px;
    gap:20px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 70px;
}

.main-services-bar {
    background-color: var(--basic-background);
    width:100%;
    height: 522px;
    margin-bottom: 57px;
}

.main-services-info {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.main-services {
    width: 940px;
    margin: 0px auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 235px 285px;
}

.main-services h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.main-services p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.services-menu-wrapper {
    width: 240px;
    height: 183px;
    background-color: #32425C;
}

.main-services-menu {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
}


.delivery {
    width: 619px;
    height: 283px;
    background-image: url(../img/delivery_car.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    justify-self: end;
}

.main-services-menu a:hover {
    background: #293449;
}

.main-services-menu a:active {
    background-color: var(--white);
    color: #32425C;
}

.main-services-item h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425C;
}

.credit-button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: #FF5357;
    border: none;
    width: 195px;
    height: 38px;
}

.credit-button:hover {
    background-color: #CA2C37;
}

.credit-button:active {
    background-color: var(--error);
}

.main-info-wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 300px;
    margin-bottom: 70px;
}

.main-info h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.main-info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.main-info-menu {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}


.main-contacts h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.main-contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.footer-nav-wrapper {
    background-color: #32425C;
}

.footer-section-nav {
    font-size: 18px;
    color: var(--white);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 380px auto;
    grid-template-rows: 85px auto ;
}

.footer-nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.footer-assortment-menu {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.footer-section-nav a {
    font-size: 18px;
}

.footer-assortment a {
    color: #FFDA96;
}

.footer-social-wrapper {
    background-color: #293449;
}

.footer-social {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: max-content 1fr min-content min-content;
    gap: 50px;
}

.footer-social-menu {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    justify-self: center;
}

.footer-social a {
    font-size: 16px;
    line-height: 18px;
    color:#FFD180;
}

.hidden-header {
    display: none;
}

.button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-red);
    width: 192px;
    height: 38px;
    border: none;
}

.button:hover {
    background: #CA2C37;
}

.button-info {
    width: 220px;
}

.button-contacts {
    width: 300px;
}

.footer-social-menu a svg:hover #vk,
.footer-social-menu a svg:hover #fb,
.footer-social-menu a svg:hover #insta {
    fill: var(--basic-red);
}

.footer-social-menu a svg:active #vk,
.footer-social-menu a svg:active #fb,
.footer-social-menu a svg:active #insta {
    fill: var(--basic-red);
}
/* Стили для каталога */

.header-menu-basket {
    background-color: var(--basic-red);
}

.header-login-name {
    background: rgba(0, 0, 0, 0.0001);
    color: #000000;
}

.header-login-name:active {
    color: var(--basic-greylight);
    background: rgba(0, 0, 0, 0.0001);
}

.header-login-name:hover svg #icon-login,
.header-login-name:hover svg #icon-login2,
.header-login-name:hover svg #icon-user {
    fill: var(--basic-grey);
}

.header-login-name:active svg #icon-login,
.header-login-name:active svg #icon-login2,
.header-login-name:active svg #icon-user {
    fill: var(--basic-greylight);
}

.header-login-link {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color:#32425C;
}

.header-login-link:hover {
    color: var(--basic-red);
}

.header-login-link:active {
    color: var(--basic-greylight);
    background: rgba(0, 0, 0, 0.0001);
}

.main-catalog-menu {
    font-family: 'PT Sans', sans-serif;
    font-style: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.main-catalog-menu a {
    font-family: 'PT Sans', sans-serif;
    font-style: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:#000000;
}

.menu-list-items a {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#000000;
}

.catalog-perforators-info {
    background-color: var(--basic-background);
}

.catalog-perforators-info h2 {
    font-size:30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog-perforators-info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.button-buy {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-green);
    border: none;
    width: 135px;
    height: 38px;
}

.button-buy:hover {
    background: #5FBB2D;
}

.button-buy:active {
    background: #518534;
}

.button-bookmark {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:  #32425C;
    background-color: var(--white);
    border: 3px solid #63A63E;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
}

.button-bookmark:hover {
    border: 3px solid #32425C;
}

.button-bookmark:active {
    color: #32425C;
    border: 3px solid #32425C;
    box-sizing: border-box;
    border-radius: 2px; 
}

/* grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    margin-bottom: 60px;
}

.header-menu {
    display:grid;
}

.header-menu-bar {
    background-color: var(--basic-grey);
}

.header-nav-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}



        