 

:root {
   --basic-red: #EE3643;;
   --basic-green:#63A63E;
   --basic-grey: #3D546F;
   --basic-greylight:#C5C5C5;
   --basic-background: #F1F5F7;
   --white:#ffffff;
   --special-yellow:#FFBF47;
   --special-blue:#3BBCE3;
   --special-lilac:#DC91D8;
   --special-greenlight:#8ED78F;
   --special-yellowwlight:#FFD180;
   --success:#5FBB2D;
   --warning:#FFBF47;
   --error:#BA2732;
   --light-grey:#EAEAEA;
}

body {
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

a {
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    color: var(--white);
}

.header-logo:hover {
    background-color: #EE3643;
}

.header-menu-search:focus {
    color: #000000;
    background-color: var(--white);
}

.button-login:hover {
    color: var(--basic-red);
}

.site-nav a:hover {
    background-color: #293449;
}

.offers-button:hover {
    background-color:rgba(197, 197, 197, .3);
}

.button:hover {
    background-color: #C5C5C5;    
}

.main-services-menu a:hover {
    background: #293449;
}

.footer-assortment a:hover,
.footer-nav a:hover,
.footer-mail a:hover,
.footer-developed a:hover {
    text-decoration-line: underline;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

button {
    color: var(--white);
}

.main-header {
     background-color: var(--basic-background);

}

.header-menu {
    background-color: var(--basic-grey);
}

.header-logo {
   background-color: var(--basic-red);
   color: var(--white);
   font-size: 18px;
   text-transform: uppercase;
}

.header-menu-nav {
    font-size: 18px;
}

.header-checkout {
    font-size: 18px;
    background-color: var(--basic-green);
}

.header-info {
    font-size: 21px;
}


.header-info-item {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header-adress {
    font-size: 14px; 
}

.header-adress-info {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
}

.button-login {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: black;
    border:none;
}

.main-nav {
    background-color: var(--basic-grey);
}

.site-nav {
    font-size:18px;
}

.special-offers h3 {
    font-size: 21px;
    font-weight:bold;
    line-height: 30px;
    color: var(--white);
}

.offers-button {
    font-family: 'Cuprum', sans-serif;
    font-size:14px;
    line-height:18px;
    color: var(--white);
    background-color: rgba(255, 255, 255, .3);
    border: none;
    width: 135px;
    height: 38px;
}

.offer-materials {
    background-color: var(--special-yellow);
}

.offer-tool {
    background-color: var(--special-blue);
}

.offer-technics {
    background-color: var(--special-lilac);
}

.offer-discounts {
    background-color: var(--special-greenlight);
    }

.offer-delivery {
    background-color: var(--special-yellowwlight);
}

.main-slider h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.main-slider p {
    font-size: 18px;
}

.popular-goods-header {
    font-size:30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
    background-color: var(--basic-background);
}

.popular-goods-item h3 {
    font-family: 'PT Sans', sans-serif;
    font-size:18px;
    font-weight: 20px;
}

.popular-goods-item del {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
}

.prise-button {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-red);
    border: none;
    width: 141px;
    height: 38px;
}

.main-services {
    background-color: var(--basic-background);
}

.main-services h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

.main-services p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.main-services-menu {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    background-color: #32425C;
}

.main-services-item h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425C;
}

.credit-button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: #FF5357;
    border: none;
    width: 195px;
    height: 38px;
}

.main-info h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.main-info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.main-info-menu {
    font-size: 18px;
    line-height: 24px;
}

.main-contacts h2 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.main-contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.footer-section-nav {
    font-size: 18px;
    color: var(--white);
    background-color: #32425C;
}

.footer-section-nav a {
    font-size: 18px;
}

.footer-logo {
    font-size: 21px;
    text-transform: uppercase;
    line-height: 30px;
    background-color: var(--basic-red);
}

.footer-assortment a {
    color: #FFDA96;
}

.footer-social {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    background-color: #293449;
}

.footer-social a {
    font-size: 16px;
    line-height: 18px;
    color:#FFD180;
}

.hidden-header {
    display: none;
}

.button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    background-color: var(--basic-red);
    width: 192px;
    height: 38px;
    border: none;
}

.button:hover {
    background: #CA2C37;
}

.button-info {
    width: 220px;
}

.button-contacts {
    width: 300px;
}
/* Стили для каталога */

.header-menu-basket {
    background-color: var(--basic-red);
}

.header-login a {
    color: #000000;
}

.main-catalog-menu {
    font-family: 'PT Sans', sans-serif;
    font-style: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.main-catalog-menu a {
    font-family: 'PT Sans', sans-serif;
    font-style: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:#000000;
}

.menu-list-items a {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#000000;
}

.catalog-perforators-info {
    background-color: var(--basic-background);
}

.catalog-perforators-info h2 {
    font-size:30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog-perforators-info p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}

.button-buy {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-green);
    border: none;
    width: 135px;
    height: 38px;
}

.button-buy:hover {
    background: #5FBB2D;
}

.button-bookmark {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:  #32425C;
    background-color: var(--white);
    border: 3px solid #63A63E;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
}

.button-bookmark:hover {
    border: 3px solid #32425C;
}
